// colors

$color-1: #383838; // Mine Shaft
$color-2: #4f93be; // Highland
$color-3: #ffffff; // White
$color-4: #f8f8f8; // Alabaster

// fonts 
$state-colors: ( state-0 : #ffffff,state-1 : #000000,state-2: #ff0000,state-3:#00ff00,state-4:#0000ff);
$primary-font: 'Fira Sans', sans-serif;
$secondary-font: 'Playfair Display', serif;