@import "bourbon/bourbon";
@import './partials/variables'; // colors, fonts etc...
@import './partials/mixins'; // custom mixins
@import './partials/layout'; // responsive grid and media queries


.ns-horizontal-timeline {
  div,ol,ul,li,span{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  ol,ul{
    list-style: none;
  }

  .timeline {
    position: relative;
    font-size: 20px;
    height: 100px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;

    .list-wrapper {
      .list{
        white-space: nowrap;
        overflow: hidden;
        margin: 0 40px;
        ol{
          & > li{
            display: inline-block;
            vertical-align: top;
            text-align: center;
            position: relative;
            height: 100px;
            box-sizing: border-box;
            padding: 10px;

            &:not(.selected) {
              pointer-events: none;
              opacity: 0.4;
            }
            &.selected{
              background-color: #E2E2E2;
            }
            & > ul > li {
              display: inline-block;
              & > a {
                &::after {
                  content: '';
                  border: 2px solid gray;
                  border-radius: 50%;
                  height: 12px;
                  width: 12px;
                  display: inline-block;
                  margin: 10px;
                }
                &.done::after{
                  background-color: #000000;
                }
                &.in-progress::after{
                  background-color: white;
                }
                &.selected::after {
                  background-color: green;
                }
              }
            }
          }
        }
      }
    }


    .ns-timeline-navigation a {
      /* these are the left/right arrows to navigate the timeline */
      position: absolute;
      z-index: 1;
      @include center(y);
      height: 34px;
      width: 34px;
      border-radius: 50%;
      border: 2px solid darken($color-4, 10%);
      /* replace text with an icon */
      overflow: hidden;
      color: transparent;
      text-indent: 100%;
      white-space: nowrap;
      @include transition(border-color .3s);

      &::after {
        /* arrow icon */
        content: '';
        position: absolute;
        height: 16px;
        width: 16px;
        @include center;
        background: url(./img/cd-arrow.svg) no-repeat 0 0;
      }

      &.prev {
        left: 0;
        @include transform(translateY(-50%) rotate(180deg));
      }

      &.next {
        right: 0;
      }

      &:hover {
        border-color: $color-2;
      }

      &.inactive {
        cursor: not-allowed;

        &::after {
          background-position: 0 -16px;
        }

        &:hover {
          border-color: darken($color-4, 10%);
        }
      }
    }
  }
}