/* Core stylesheet file for jquery-nested-carousal */
/* Resolving import definitions */
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import './partials/_variables';
// colors, fonts etc...
@import './partials/_mixins';
// custom mixins
@import './partials/_layout';

// responsive grid and media queries

.ns-horizontal-timeline {
  @mixin hidden {
    display: none;
  }

  div, ol, ul, li, span, p {
    margin: 0;
    padding: 0;
    border: 0;

    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  ol, ul {
    list-style: none;
  }
  .hidden {
    visibility: hidden;
  }
  .timeline {
    position: relative;
    font-size: 12px;
    margin: 0 auto;
    .list-wrapper {
      .list {
        white-space: nowrap;
        overflow: hidden;
        margin: 0 60px;
        position: relative;
      }
    }
  }
  &.nested-mode {
    .timeline{
      height: 110px;
    }
    .outer-nodes-container {
      @include transition(transform 0.6s ease);
      height: 100%;
      position: relative;
      & > .outer-node {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        box-sizing: border-box;
        padding: 5px 10px;
        cursor: pointer;
        border: 1px solid gray;
        .outer-list-name {
          font-weight: bold;
          font-size: 14px;
          height: 32px;
          line-height: 16px;
          overflow: hidden;
          margin: 0 auto;
          text-overflow: ellipsis;
          white-space: normal;
          text-align: center;
          &:after {
            content: "";
            height: 100%;
            display: inline-block;
            vertical-align: middle;
          }
          p {
            display: inline-block;
            display: -webkit-inline-box;
            text-align: center;
            max-height: 100%;
            vertical-align: middle;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
        }
        .inner-selected-name {
          color: $color-2;
          font-weight: bold;
          font-size: 18px;
          height: 24px;
          overflow: hidden;
          margin: 0 auto;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: center;
          &:after {
            content: "";
            height: 100%;
            display: inline-block;
            vertical-align: middle;
          }
          p {
            display: inline-block;
            text-align: center;
            max-height: 100%;
            vertical-align: middle;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: inherit;
          }
        }
        &:not(.selected) {
          opacity: 0.4;
          margin: 0 10px;
          background-color: #E2E2E2;
          .inner-selected-name {
            display: none;
          }
        }

        &.selected {
          min-width: 200px;
          @include transition(transform 0.6s ease 0.1s);
          height: 100px;
          margin: 5px 10px;
          transform: scale(1.08);
        }
        & > .inner-nodes-container {
          text-align: center;
          & > .inner-node {
            display: inline-block;
            & > a {
              &::after {
                content: '';
                border: 2px solid gray;
                border-radius: 50%;
                height: 6px;
                width: 6px;
                display: inline-block;
                margin: 10px;
              }
              @each $state, $color in $state-colors {
                &.#{$state}::after {
                  background-color: $color;
                }
              }
            }
            &.selected > a::after {
              background-color: $color-2;
            }
          }
        }
      }
    }
  }

  &.flattened-mode {
    .timeline{
      height: 50px;
    }
    .outer-nodes-container {
      transform: none !important;
      padding: 0 20px;
      .outer-node {
        border: none;
        .outer-list-name {
          @include hidden;
        }
        .inner-nodes-container {
          @include hidden;
        }
        &:not(.selected) {
          @include hidden;
        }
        &.selected {
          background-color: transparent;
          .inner-selected-name {
            font-size: 20px;
            p{
              color: $color-2;
              line-height: 50px; //should match the height in order to vertically center the content
              text-align: center;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
  .ns-timeline-navigation a {
    /* these are the left/right arrows to navigate the timeline */
    position: absolute;
    z-index: 1;
    @include center(y);
    height: 34px;
    width: 34px;
    /* replace text with an icon */
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;

    &::after {
      /* arrow icon */
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      left: 50%;
      top: 50%;
      border: 3px solid rgb(89,89,89);
      border-top: none;
      border-right: none;
      @include transform(translateX(-50%) translateY(-50%) rotate(225deg));
    }

    &.prev {
      left: 0;
      @include transform(translateY(-50%) rotate(180deg));
    }

    &.next {
      right: 0;
    }


    &.inactive {
      cursor: not-allowed;

      &::after {
        border-color: #E2E2E2;
      }
    }
  }
}